
<div *ngFor="let sheet of characterSheetService.newCharacterSheet$ | async">
  <form [formGroup]="sheet.form" (ngSubmit)="characterSheetService.saveNewCharacterSheet()" novalidate>
    <div class="form-group">
      <label class="center-block">Name:
        <input class="form-control" formControlName="name">
      </label>

      <button type="submit" [disabled]="!sheet.form.valid" class="btn btn-success">Save</button>
    </div>
  </form>
</div>

<div style="display: flex; justify-content: space-between">
  <div>
    <h1>Character Sheet List</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
      </tr>

      <tr *ngFor="let sheet of characterSheetService.characterSheets$ | async">
        <td>{{sheet.id}}</td>
        <td>{{sheet.name}}</td>
        <td>
          <button (click)="characterSheetService.getCharacterSheetById(sheet.id)">Select</button>
        </td>
      </tr>
    </table>
  </div>

  <div *ngFor="let sheet of characterSheetService.selectedCharacterSheet$ | async">
    <h1>Selected Character Sheet</h1>
    <div>{{sheet?.id}}</div>
    <div>{{sheet?.name}}</div>
  </div>
</div>
